/* General Styles */
body {
    margin: 0;
    padding: 0;
    /* padding-top: 100px; */
    background-color: #222831;
    padding-bottom: 4000px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

html {
    width: 100vw;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}


.hero {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 100px;
}

.hero_heading_text,
.hero_heading_description {
    font-family: "Kanit";
    font-weight: 500;
    max-width: 1000px; 
    text-align: center;
    animation: fade 2s ease-in 1;
}

.hero_heading_text {
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.hero_heading_description {
    font-size: 30px;
    color: #aaaaaa;
    margin: 20px 0px 30px 0px ;
}

.hero_heading_button {
    width: 150px;
    height: 60px;
    font-size: 24px;
    background-color: #000000;
    color: white;
    font-family: "Kanit";
    border: none;
    border-radius: 10px;
    animation: fade 2s ease-in 1;
    transition: background-color 0.5s,box-shadow 0.5s, scale 0.5s,color 0.5s;
}

.hero_heading_button:hover {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    scale: 1.1;
    color: #000000;
}

.hero_animation {
    margin-top: 250px;
    margin-bottom: 100px;
}

.hero_animation_heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
}

.hero_animation_heading_text {
    font-family: "Kanit";
    font-weight: 500;
    max-width: 1000px; 
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.hero_animation_images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero_animation_main_logo,
.hero_animation_photos {
    width: 20vh;
}

.hero_animation_main_logo {
    z-index: 10;
    border-radius: 50px;
}

.photo1 {
    animation: scroll_1;
    animation-timeline: view(-20%);
    z-index: 1;
}

@keyframes scroll_1 {
    from {
        transform: translateX(-500px) translateY(-150px);
    }
    to {
        transform: translateX(200px) translateY(400px);
    }
}

.photo2 {
    animation: scroll_2;
    animation-timeline: view(-10%);
    z-index: 2;
}

@keyframes scroll_2 {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(400px);
    }
}

.photo3 {
    animation: scroll_3;
    animation-timeline: view(-20%);
}

@keyframes scroll_3 {
    from {
        transform: translateX(500px) translateY(-150px);
    }
    to {
        transform: translateX(-200px) translateY(400px);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 100vw;
        padding-bottom: 500px;
    }

    .hero_heading_text {
        margin-top: 50px;
        font-size: 32px;
        max-width: 590px;
        text-align: center
    }

    .hero_heading_description {
        font-size: 24px;
    }

    .hero_heading_button {
        scale:0.8;
    }

    .hero_heading_button:hover {
        scale:0.9;
    }
}

@media screen and (min-width:600px) and (max-width: 1024px) {
    body {
        width: 100vw;
        padding-bottom: 500px;
    }

    .hero_heading_text {
        margin-top: 50px;
        font-size: 45px;
        max-width: 1024px;
        text-align: center
    }

    .hero_heading_description {
        font-size: 32px;
    }

    .hero_heading_button {
        scale:1;
    }

    .hero_heading_button:hover {
        scale:1.1;
    }
}
