<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/privacy_policy.css">
    <link rel="stylesheet" href="/static/css/index/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <div class="nav_bar">
        <div class="comp_name">
            <h1 class="company_name">
                NoteCrud
            </h1>
        </div>
        <div class="nav_buttons">
            <a href="search.html" class="nav_link">
            <p class="search_button">
                Search
            </p>
            </a>
            <a href="details.html" class="nav_link">
            <p class="Details_button">
                Details
            </p>
            </a>
            <!-- <button class="Sign_up_button">
                Sign up
            </button> -->
            <a href="signin.html" class="nav_link">
            <button class="sign_in_button">
                Sign in
            </button>
            </a>
        </div>
    </div>

    <div class="container1">
        <div class="c1">
            <div class="c1_head">
                <h1 class="WHY">Privacy Policy</h1>
            </div>
            <div class="text_box">
                <p class="textt">
                    NoteCrud is committed to protecting your privacy. This Privacy Policy explains how we collect, use, and share information about you when you use our website and services. By accessing or using NoteCrud, you agree to this Privacy Policy. Please read it carefully.
                </p>
                <div class="WHAT">
                    <p class="textt">
                        <span class="text_head1">1. Information We Collect</span>
                        <br>
                        <br>
                        We collect various types of information to provide and improve our services to you:
                        <br>&#8226; Personal Information: When you create an account or use our services, we may collect personal information, such as your name, email address, and payment information.
                        <br>&#8226; Content: We collect the content you create, upload, or share on our website, including notes, comments, and other materials.
                        <br>&#8226; Usage Data: We collect information on how you access and use our website, including your IP address, browser type, operating system, pages visited, and the date and time of your visit.
                        <br>&#8226; Cookies and Tracking Technologies: We use cookies and similar tracking technologies to track the activity on our website and store certain information. Cookies are small data files that may include an anonymous unique identifier. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our website.
                        <br>
                        <br>
                        <span class="text_head">2. How We Use Your Information</span>
                        <br>
                        <br>
                        We use the information we collect for various purposes, including to:
                        <br>&#8226; Provide and Improve Services: To operate, maintain, and provide you with the features and functionality of our website and services.
                        <br>&#8226; Communicate with You: To send you technical notices, updates, security alerts, and support and administrative messages.
                        <br>&#8226; Process Payments: To process transactions and send you invoices for our services.
                        <br>&#8226; Personalization: To personalize and improve our services, including to provide content and features that match your interests.
                        <br>&#8226; Analytics: To monitor and analyze usage and trends to improve your experience with our website and services.
                        <br>&#8226; Marketing and Promotions: To send you promotional materials and other communications that may be of interest to you. You can opt out of receiving these communications at any time.
                        <br>&#8226; Legal Compliance: To comply with legal obligations and protect our legal rights, such as responding to subpoenas and other legal requests.
                        <br>
                        <br>
                        <span class="text_head">3. Sharing Your Information</span>
                        <br>
                        <br>
                        We may share your information with:
                        <br>&#8226; Service Providers: Trusted third-party vendors who assist us in operating our website and providing our services. These service providers have access to your personal information only to perform specific tasks on our behalf and are obligated not to disclose or use it for any other purpose.
                        <br>&#8226; Business Transfers: In connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business by another company, your information may be transferred as a business asset.
                        <br>&#8226; Legal Obligations: When required by law or in response to valid requests by public authorities.
                        <br>&#8226; Protection of Rights: To enforce our Terms of Service, protect our rights, privacy, safety, or property, and/or that of you or others.
                        <br>
                        <br>
                        <span class="text_head">4. Data Security</span>
                        <br>
                        <br>
                        We take the security of your personal information seriously and implement appropriate technical and organizational measures to protect it from unauthorized access, alteration, disclosure, or destruction. However, please be aware that no method of internet transmission or electronic storage is completely secure, and we cannot guarantee absolute security.
                        <br>
                        <br>
                        <span class="text_head">5. Your Rights</span>
                        <br>
                        <br>
                        Depending on your location and applicable laws, you may have the following rights regarding your personal information:
                        <br>&#8226; Access: You have the right to request access to the personal information we hold about you.
                        <br>&#8226; Correction: You can request that we correct any inaccurate or incomplete personal information.
                        <br>&#8226; Deletion: You have the right to request that we delete your personal information, subject to certain exceptions.
                        <br>&#8226; Objection: You can object to the processing of your personal information for direct marketing purposes or under certain circumstances.
                        <br>&#8226; Restriction: You can request that we restrict the processing of your personal information in certain situations.
                        <br>&#8226; Data Portability: You have the right to request a copy of your personal information in a structured, commonly used, and machine-readable format and to transfer that information to another controller.
                        <br>To exercise any of these rights, please contact us at Notecrud@gmail.com . We may ask you to verify your identity before responding to such requests.
                        <br>
                        <br>
                        <span class="text_head">6. International Data Transfers</span>
                        <br>
                        <br>
                        If you are located outside of India, please be aware that your information may be transferred to, stored, and processed in India and other countries where our service providers are located. These countries may have data protection laws different from those of your jurisdiction. We take steps to ensure that your data is treated securely and in accordance with this Privacy Policy.
                        <br>
                        <br>
                        <span class="text_head">7. Retention of Your Information</span>
                        <br>
                        <br>
                        We retain your personal information only for as long as necessary to fulfill the purposes for which it was collected, including to provide our services, comply with legal obligations, resolve disputes, and enforce our agreements. When we no longer need to use your information, we will securely delete or anonymize it.
                        <br>
                        <br>
                        <span class="text_head">8. Children's Privacy</span>
                        <br>
                        <br>
                        Our services are not directed to individuals under the age of 13. We do not knowingly collect personal information from children under 13. If we become aware that we have collected personal information from a child under 13, we will take steps to delete such information from our records promptly.
                        <br>
                        <br>
                        <span class="text_head">9. Third-Party Links</span>
                        <br>
                        <br>
                        Our website may contain links to third-party websites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
                        <br>
                        <br>
                        <span class="text_head">10. Changes to This Privacy Policy</span>
                        <br>
                        <br>
                        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website and updating the effective date. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer_company_name">
            <h1 class="footer_company_name_text">NoteCrud</h1>
            <div class="footer_company_socials">
                <a href="https://www.instagram.com/notecrud?igsh=d3QyZnpiZzZxZGox" class="links">
                <img src="https://www.svgrepo.com/show/452229/instagram-1.svg" alt="" class="footer_insta" draggable="false">
                </a>
                <a href="https://x.com/NoteCrud" class="links">
                <img src="https://cdn.iconscout.com/icon/free/png-512/free-twitter-x-9583449-7741112.png?f=webp&w=256" alt="" class="footer_twitter" draggable="false">
                </a>
                <a href="https://youtube.com/@notecrud?si=iJXo1jsB9jO6YffW" class="links">   
                <img src="https://www.svgrepo.com/show/475700/youtube-color.svg" alt="" class="footer_yt" draggable="false">
                </a>
            </div>
        </div>
        <div class="footer_details">
            <div class="footer_info1">
                <p class="footer_company_topic">
                    <bolder>Company</bolder>
                </p>
                <p class="links"><a href="about_us.html" class="nav_link">About us</a></p>
                <p class="links"><a href="security.html" class="nav_link">Security</a></p>
                <p class="links"><a href="termsofservice.html" class="nav_link">Terms and Privacy</a></p>
                <p class="links"><a href="contact_us.html" class="nav_link">Contact Us</a></p>
            </div>
            <div class="footer_into2">
                <p class="footer_topic">
                    <bolder>EARN</bolder>
                </p>
                <p class="links"><a href="work_with_us.html" class="nav_link">Work with us</a></p>
                <p class="links"><a href="premium.html" class="nav_link">Premium</a></p>
            </div>
        </div>
    </div>
    
</body>
</html>