<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms Of services</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/termsofservice.css">
    <link rel="stylesheet" href="/static/css/index/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <div class="nav_bar">
        <div class="comp_name">
            <h1 class="company_name">
                NoteCrud
            </h1>
        </div>
        <div class="nav_buttons">
            <a href="search.html" class="nav_link">
            <p class="search_button">
                Search
            </p>
            </a>
            <a href="details.html" class="nav_link">
            <p class="Details_button">
                Details
            </p>
            </a>
            <!-- <button class="Sign_up_button">
                Sign up
            </button> -->
            <a href="signin.html" class="nav_link">
            <button class="sign_in_button">
                Sign in
            </button>
            </a>
        </div>
    </div>

    <div class="container1">
        <div class="c1">
            <div class="c1_head">
                <h1 class="WHY">Terms of service</h1>
            </div>
            <div class="text_box">
                <p class="textt">
                    Welcome to NoteCrud. These Terms of Service govern your access to and use of our website and services. By accessing or using our website and services, you agree to these Terms. Please read them carefully.
                </p>
                <div class="WHAT">
                    <p class="textt">
                        <span class="text_head1">1. Acceptance of Terms</span>
                        <br>
                        <br>
                        By accessing or using NoteCrud, you agree to be bound by these Terms and our Privacy Policy. If you do not agree with these Terms, you must not use the Website or our services.
                        <br>
                        <br>
                        <span class="text_head">2. Eligibility</span>
                        <br>
                        <br>
                        You must be at least 13 years old to use our Website and services. By using the Website, you represent and warrant that you meet this eligibility requirement.
                        <br>
                        <br>
                        <span class="text_head">3. User Accounts</span>
                        <br>
                        <br>&#8226; Account Creation: To access certain features of our Website, you may need to create an account. You agree to provide accurate, complete, and up-to-date information during the registration process.
                        <br>&#8226; Account Security: You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account or any other security breach.
                        <br>&#8226; Account Termination: We reserve the right to suspend or terminate your account at any time, for any reason, including if we believe you have violated these Terms.
                        <br>
                        <br>
                        <span class="text_head">4. Use of the Website</span>
                        <br>
                        <br>&#8226; Permitted Use: You may use the Website and our services for your personal, non-commercial use only. You agree not to use the Website for any illegal or unauthorized purpose.
                        <br>&#8226; Prohibited Activities: You agree not to:
                        <br>&#8226; Copy, modify, or distribute any content from the Website without our prior written consent.
                        <br>&#8226; Use any automated means, such as bots, crawlers, or scrapers, to access the Website.
                        <br>&#8226; Interfere with or disrupt the Website or its servers or networks.
                        <br>&#8226; Upload or transmit any viruses, malware, or other harmful code.
                        <br>&#8226; Violate any applicable laws or regulations.
                        <br>
                        <br>
                        <span class="text_head">5. Content</span>
                        <br>
                        <br>&#8226; User Content: You may upload, post, or share notes, comments, and other content on the Website (“User Content”). You retain ownership of your User Content, but you grant us a non-exclusive, royalty-free, worldwide, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform your User Content in connection with the Website and our business.
                        <br>&#8226; Content Standards: You agree not to upload, post, or share any User Content that:
                        <br>&#8226; Is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, or otherwise objectionable.
                        <br>&#8226; Infringes on any intellectual property or other proprietary rights of any party.
                        <br>&#8226; Contains any personal information of a third party without their consent.
                        <br>&#8226; Violates any applicable laws or regulations.
                        <br>
                        <br>
                        <span class="text_head">6. Intellectual Property</span>
                        <br>
                        <br>&#8226; Our Content: All content and materials on the Website, including text, graphics, logos, images, and software, are the property of NoteCrud or its licensors and are protected by copyright, trademark, and other intellectual property laws.
                        <br>&#8226; Limited License: We grant you a limited, non-exclusive, non-transferable license to access and use the Website for your personal, non-commercial use. You may not reproduce, distribute, modify, or create derivative works of our content without our prior written consent.
                        <br>
                        <br>
                        <span class="text_head">7. Payments and Subscriptions</span>
                        <br>
                        <br>&#8226; Subscription Plans: We may offer subscription plans that provide access to premium features and content. By subscribing, you agree to pay the subscription fees and any applicable taxes.
                        <br>&#8226; Billing: Subscription fees will be billed in advance on a recurring basis (e.g., monthly or annually). You authorize us to charge your payment method for the subscription fees
                        <br>&#8226; Cancellation: You may cancel your subscription at any time through your account settings. Your subscription will remain active until the end of the current billing period, and you will not receive a refund for any unused portion of the subscription.
                        <br>
                        <br>
                        <span class="text_head">8. Disclaimers and Limitation of Liability</span>
                        <br>
                        <br>&#8226; Disclaimer of Warranties: The Website and our services are provided “as is” and “as available” without any warranties of any kind, either express or implied. We do not warrant that the Website will be uninterrupted, error-free, or free of viruses or other harmful components.
                        <br>&#8226; Limitation of Liability: To the fullest extent permitted by law, we are not liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from:
                        <br>&#8226; Your use of or inability to use the Website.
                        <br>&#8226; Any unauthorized access to or use of our servers and/or any personal information stored therein.
                        <br>&#8226; Any interruption or cessation of transmission to or from the Website.
                        <br>&#8226; Any bugs, viruses, trojan horses, or the like that may be transmitted to or through the Website by any third party.
                        <br>&#8226; Any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Website.
                        <br>
                        <br>
                        <span class="text_head">9. Indemnification</span>
                        <br>
                        <br>You agree to indemnify, defend, and hold harmless NoteCrud, its officers, directors, employees, and agents from and against any and all claims, liabilities, damages, losses, and expenses, including reasonable attorneys’ fees and costs, arising out of or in any way connected with:
                        <br>&#8226; Your access to or use of the Website and our services.
                        <br>&#8226; Your violation of these Terms.
                        <br>&#8226; Your violation of any third-party right, including without limitation any intellectual property right or privacy right
                        <br>&#8226; Any claim that your User Content caused damage to a third party.
                        <br>
                        <br>
                        <span class="text_head">10. Changes to These Terms</span>
                        <br>
                        <br>
                        We may update these Terms from time to time. If we make material changes, we will notify you by email or by posting a notice on the Website prior to the effective date of the changes. Your continued use of the Website after the effective date constitutes your acceptance of the revised Terms.
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer_company_name">
            <h1 class="footer_company_name_text">NoteCrud</h1>
            <div class="footer_company_socials">
                <a href="https://www.instagram.com/notecrud?igsh=d3QyZnpiZzZxZGox" class="links">
                <img src="https://www.svgrepo.com/show/452229/instagram-1.svg" alt="" class="footer_insta" draggable="false">
                </a>
                <a href="https://x.com/NoteCrud" class="links">
                <img src="https://cdn.iconscout.com/icon/free/png-512/free-twitter-x-9583449-7741112.png?f=webp&w=256" alt="" class="footer_twitter" draggable="false">
                </a>
                <a href="https://youtube.com/@notecrud?si=iJXo1jsB9jO6YffW" class="links">   
                <img src="https://www.svgrepo.com/show/475700/youtube-color.svg" alt="" class="footer_yt" draggable="false">
                </a>
            </div>
        </div>
        <div class="footer_details">
            <div class="footer_info1">
                <p class="footer_company_topic">
                    <bolder>Company</bolder>
                </p>
                <p class="links"><a href="about_us.html" class="nav_link">About us</a></p>
                <p class="links"><a href="security.html" class="nav_link">Security</a></p>
                <p class="links"><a href="termsofservice.html" class="nav_link">Terms and Privacy</a></p>
                <p class="links"><a href="contact_us.html" class="nav_link">Contact Us</a></p>
            </div>
            <div class="footer_into2">
                <p class="footer_topic">
                    <bolder>EARN</bolder>
                </p>
                <p class="links"><a href="work_with_us.html" class="nav_link">Work with us</a></p>
                <p class="links"><a href="premium.html" class="nav_link">Premium</a></p>
            </div>
        </div>
    </div>
</body>
</html>